<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/Head/head')%>
    <link rel="stylesheet" href="../../global.less" />
    <title>Профиль</title>
</head>
<body>
    <div class="wrapper">
        <div>
            <img class="profile_avatar" src="../../static/assets/avatar.png" alt="">
            <p class="profile_name">Имя пользователя</p>
            <form class="form">
                <div class="form__item">
                    <label for="email" class="form__label">Почта</label>
                    <input type="email" id="email" name="email" class="form__input" value="pochta@yandex.ru" readonly>
                </div>
                <div class="form__item">
                    <label for="login" class="form__label">Логин</label>
                    <input type="text" id="login" name="login" class="form__input" value="ivanivanov" readonly>
                </div>
                <div class="form__item">
                    <label for="first_name" class="form__label">Имя</label>
                    <input type="text" id="first_name" name="first_name" class="form__input" value="Иван" readonly>
                </div>
                <div class="form__item">
                    <label for="second_name" class="form__label">Фамилия</label>
                    <input type="text" id="second_name" name="second_name" class="form__input" value="Иванов" readonly>
                </div>
                <div class="form__item">
                    <label for="display_name" class="form__label">Имя в чате</label>
                    <input type="text" id="display_name" name="display_name" class="form__input" value="Иван" readonly>
                </div>
                <div class="form__item">
                    <label for="phone" class="form__label">Телефон</label>
                    <input type="tel" id="phone" name="phone" class="form__input" value="+7(909)9673030" readonly>
                </div>
                <%- include('../../components/Buttons/Buttons', {"value": 'Сохранить', "className": 'form__button'})%>
            </form>
            <form class="form">
                <div class="form__item">
                    <label for="oldPassword" class="form__label">Старый пароль</label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form__input">
                </div>
                <div class="form__item">
                    <label for="newPassword" class="form__label">Новый пароль</label>
                    <input type="password" id="newPassword" name="newPassword" class="form__input">
                </div>
                <div class="form__item">
                    <label for="repeatPassword" class="form__label">Повторите новый пароль</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" class="form__input">
                </div>
                <%- include('../../components/Buttons/Buttons', {"value": 'Сохранить', "className": 'form__button'})%>
            </form>
            <button class="btn btn-link">Изменить данные</button>
            <button class="btn btn-link">Изменить пароль</button>
            <div class="modal">
                <div>
                    <p class="modal__title">Загрузите файл</p>
                    <form enctype="multipart/form-data" method="post">
                        <input type="file" name="avatar" accept="image/*,image/jpeg">
                        <%- include('../../components/Buttons/Buttons', {"value": 'Поменять', "className": 'form__button'})%>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>