@import url('../../baseui/colors.less');

.text-link {
  font-size: 11px;
  line-height: 11px;
  font-style: normal;
  font-weight: 500;
  color: @color-blue;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  &.--red {
    font-size: 13px;
    line-height: 13px;
    color: @color-red;
    padding: 10px 0;
  }
}
