{{#each data}}
  <main class='wrapper'>
    <div class='form-container'>
      <div data-render='avatar'></div>
      <form class='form' data-form='profile-data'>
        <div data-render='title20_0'></div>
        <div data-render='inputs0'></div>
        <div data-render='button_wrapper0'></div>
      </form>
      <div data-render='btn-link'></div>
      <div data-render='links'></div>
      <div data-render='modal'></div>
      <div class='modal' data-modal='1'>
        <div>
          <form class='form'>
            <div data-render='inputs1'></div>
            <div data-render='button_wrapper1'></div>
          </form>
          <svg
            class='modal_close'
            version='1.1'
            id='Layer_1'
            xmlns='http://www.w3.org/2000/svg'
            xmlns:xlink='http://www.w3.org/1999/xlink'
            x='0px'
            y='0px'
            viewBox='0 0 60.963 60.842'
            style='enable-background:new 0 0 60.963 60.842;'
            xml:space='preserve'
          >
            <path
              style='fill: rgb(255, 255, 255);'
              d='M59.595,52.861L37.094,30.359L59.473,7.98c1.825-1.826,1.825-4.786,0-6.611
            c-1.826-1.825-4.785-1.825-6.611,0L30.483,23.748L8.105,1.369c-1.826-1.825-4.785-1.825-6.611,0c-1.826,1.826-1.826,4.786,0,6.611
            l22.378,22.379L1.369,52.861c-1.826,1.826-1.826,4.785,0,6.611c0.913,0.913,2.109,1.369,3.306,1.369s2.393-0.456,3.306-1.369
            l22.502-22.502l22.501,22.502c0.913,0.913,2.109,1.369,3.306,1.369s2.393-0.456,3.306-1.369
            C61.42,57.647,61.42,54.687,59.595,52.861z'
              id='id_102'
            ></path>
          </svg>
        </div>
      </div>
      <div class='modal' data-modal='2'>
        <div>
          <div data-render='title20_1'></div>
          <form method='post' enctype='multipart/form-data'>
            <label class='input-file'>
              <span class='input-file-text' type='text'></span>
              <input type='file' name='file' accept='image/*,image/jpeg' />
              <span class='input-file-btn'>Выберите файл</span>
            </label>
            <div data-render='button_wrapper2'></div>
          </form>
          <svg
            class='modal_close'
            version='1.1'
            id='Layer_1'
            xmlns='http://www.w3.org/2000/svg'
            xmlns:xlink='http://www.w3.org/1999/xlink'
            x='0px'
            y='0px'
            viewBox='0 0 60.963 60.842'
            style='enable-background:new 0 0 60.963 60.842;'
            xml:space='preserve'
          >
            <path
              style='fill: rgb(255, 255, 255);'
              d='M59.595,52.861L37.094,30.359L59.473,7.98c1.825-1.826,1.825-4.786,0-6.611
            c-1.826-1.825-4.785-1.825-6.611,0L30.483,23.748L8.105,1.369c-1.826-1.825-4.785-1.825-6.611,0c-1.826,1.826-1.826,4.786,0,6.611
            l22.378,22.379L1.369,52.861c-1.826,1.826-1.826,4.785,0,6.611c0.913,0.913,2.109,1.369,3.306,1.369s2.393-0.456,3.306-1.369
            l22.502-22.502l22.501,22.502c0.913,0.913,2.109,1.369,3.306,1.369s2.393-0.456,3.306-1.369
            C61.42,57.647,61.42,54.687,59.595,52.861z'
              id='id_102'
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </main>
{{/each}}