{{#each data}}
  <main class='wrapper'>
    {{this.text}}
    <div class='form-container'>
      <form class='form'>
        <div data-render='title20'></div>
        <div data-render='inputs'></div>
        <div data-render='button'></div>
      </form>
      <div data-render='links'></div>
    </div>
  </main>
{{/each}}
