<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../../components/Head/head')%>
    <link rel="stylesheet" href="../../global.less" />
    <title>Ошибка 404</title>
</head>
<body>
    <main class="wrapper">
        <div>
            <h1>404</h1>
            <p>Не туда попали</p>
            <%- include('../../components/Links/Links', {'link': '../main/main.ejs', 'className': 'text-center', 'text': 'Назад к чатам'})%> 
        </div>
    </main>
</body>
</html>
