<!doctype html>
<html lang="en">
  <head>
    <%- include('./components/Head/head')%>
    <link rel="stylesheet" href="./global.less" />
    <title>Вход</title>
  </head>
  <body>
    <%- include('./dev_mode')%>
  </body>
</html>