<!doctype html>
<html lang="ru">
  <head>
    <%- include('./components/Head/head')%>
    <link rel="stylesheet" href="./global.less" />
    <title>Вход</title>
  </head>
  <body>
    <div class="app"></div>
    
  </body>
</html>
